html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.field-validation-error {
    color: red;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 31px;
}

#spanRequired {
    color: red;
}

body {
    background-color: hsl(0, 0%, 95%);
}

#table-clientes_wrapper {
    background-color: #FFFF;
    padding: 1vh;
    border-radius: .25rem;
    display: block;
}
