@model ClienteModel
@{
    ViewData["Title"] = "Confirmação apagar o cliente";
}

<div class="text-center">

    <div class="card-header">
        <h3>Realmente deseja apagar o cliente (@Model.Nome)</h3>
        <a class="btn btn-primary" role="button" asp-controller="Cliente" asp-action="Index">Cancelar exclusão</a>
        <a class="btn btn-danger" role="button" asp-controller="Cliente" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>
    </div>
</div>
